*.DS_Store
*.orig
/*.log
/node_modules
/dist
/bower_components
/*.sublime-workspace
dist/bundle.js
dist/bundle.css
src/js/.DS_Store
/.idea/*.xml
/.idea/*.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/src/img/images
/.idea/.name
/.idea/dictionaries/Alex.xml
dist2
dist-test-ДО
dist-1
